@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #000;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0;
}

div:where(.css-dev-only-do-not-override-1adbn6x).ant-typography,
:where(.css-dev-only-do-not-override-1adbn6x).ant-typography p {
  margin: 0 !important;
}
